.Home {
    height: 100%;
    display: flex;
    justify-content: space-between;
    background: white;
    box-shadow: 0 0 3px;

    &__column1 {
        width: 30%;
        height: 100%;
    }
    &__column2 {
        width: 70%;
        height: 100%;
    }
}