.Navbar {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    background: #448aff;

    .container {
        height: 100%;
    }

    &__inner {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    
    .logo {
        font-size: 28px;
        color: white;
    }
    a {
        font-size: 18px;
        color: white;
        margin-left: 20px;
    }
}